.header {
  text-align: center;
  margin-bottom: 2rem;
}

.categoryCard {
  text-align: left;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.title {
  font-weight: bold;
  margin-top: 1rem;
}

.description {
  margin: 1rem 0;
}

.learnMoreLink {
  display: block;
  margin-top: 1rem;
  color: #007bff;
  text-decoration: none;
}

.learnMoreLink:hover {
  text-decoration: underline;
}
