.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.categoryCard {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  height: 600px;
  max-width: 419px;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.imageContainer {
  position: relative;
}

.imageContainer:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.image {
  height: auto;
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(128, 128, 128, 0.6); /* Gray overlay with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: white;
  text-align: center;
  border-radius: 4px;
}

.learnMore {
  color: white; /* White text color for link */
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid white; /* White border for outline effect */
  border-radius: 4px; /* Match border radius */
  background-color: transparent;
}

.learnMore:hover {
  text-decoration: none;
}

.title {
  align-items: center;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 0;
  font-size: 0.85rem;
}

.learnMoreLink {
  display: block;
  margin-top: auto;
  color: #007bff;
  text-decoration: none;
}

.learnMoreLink:hover {
  text-decoration: underline;
}
