.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 1rem;
  box-sizing: border-box;
  background: linear-gradient(150deg, #007AFF 0%, #0056b3 100%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); /* Subtle border for separation */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 0;
  transition: all 0.3s ease;
}

.navHidden {
  display: flex;
}

.navVisible {
  display: flex;
}

.navLink {
  text-decoration: none;
  color: #fff;
  text-align: end;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border-radius: 0.5rem;
}

.navLink:hover {
  color: #bfbfbf;
}

.burger {
  display: none;
  margin: 1em;
}

@media (max-width: 768px) {
  .headerContainer {
    align-items: center;
    justify-content: space-between;
    margin-inline: 1rem;
  }

  .nav {
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 1em;
    background-color: transparent;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    opacity: 0;
    justify-content: flex-end;
  }

  .navLink {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    border-radius: 0.5rem;
    background-color: rgba(256, 256, 256, 0.3);
    padding: 0.7rem 1rem;
    
  }

  .navVisible {
    opacity: 1;
    transform: translateY(0);
  }

  .navHidden {
    display: none;
  }

  .burger {
    display: block;
  }
}

.logoLink:hover .logo {
  filter: grayscale(100%);
  transition: all 0.3s ease;
}