.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px; /* Adjust as needed */
}

.logo {
  margin: 0 20px; /* Adjust spacing as needed */
}

.tab {
  color: gray;
  border: none;
  background: transparent;
  font-weight: normal;
  padding: 10px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 2rem; /* Space between links */
  margin-right: 2rem;
}

.navLink {
  text-decoration: none;
  color: #000; /* Adjust as needed */
  font-weight: bold;
  font-size: 16px;
}

.navLink:hover {
  color: #007bff; /* Adjust hover color as needed */
  text-decoration: underline;
}