.card {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.cardTitle {
  margin-bottom: 1rem;
  color: #333;
}

.image {
  margin-top: 2rem;
}

.text {
    font-size: 0.85rem;
}