.card {
  height: 400px;
  width: '100%';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  overflow: hidden;
}

.title {
  font-weight: 900;
  color: rgba(256, 256, 256, 0.9);
  line-height: 1.2;
  font-size: 32px;
  margin-top: 5rem;
  cursor: default;
  text-shadow: 
    -1px -1px 0 rgba(0,0,0, 0.2),  
     1px -1px 0 rgba(0,0,0, 0.2),
    -1px  1px 0 rgba(0,0,0, 0.2),
     1px  1px 0 rgba(0,0,0, 0.2);
}

.category {
  color: var(--mantine-color-white);
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
  cursor: default;
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 0.6;
    }
  }
}

.indicator {
  width: 12px;
  height: 4px;
  transition: width 250ms ease;

  &[data-active] {
    width: 40px;
  }
}
