.footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  padding: 2rem 0;
}

.link {
  color: #000;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: #d9d9d9;
  }
}

.icon {
  color: #495057;

  &:hover {
    color: #007bff;
  }
}

.contact {
  color: #808080;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

html {
    scroll-behavior: smooth;
  }
